# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Virtual environments
venv/
.venv/

# Database
*.sqlite3

# Logs
*.log

# Huggingface / models
hf_cache/

# Uploaded RAG documents
[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*/

# Django generated
media/
staticfiles/

# OS
.DS_Store
Thumbs.db